<div class="to-do-tasks">
    <div class="to-do-list"
            *ngIf="(toDoList | async).length > 0; else noTasks">
        <div class="to-do-element" *ngFor="let todo of toDoList | async" >
            <app-todo-item
                    [todo]="todo"
                    (deleteEmitter)="deleteItem.emit($event)"
                    (updateEmitter)="changeItem.emit($event)">
            </app-todo-item>
        </div>
    </div>
    <ng-template #noTasks>
        <div class="no-task-text">No tasks</div>
    </ng-template>
</div>
