//:host {
//  background-image: linear-gradient(to bottom, rgba(0, 0, 225, 0.2 ), rgba(0, 0, 333, 0.2));
//}

.main-container {
  border-radius: 10px;
  width: 900px;
  margin: 30px auto 30px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
