.task{
    margin-bottom: 10px; 
    display: flex;
    align-items: baseline;
    align-items: center;
    background-color: rgb(142, 222, 240);
    padding: 5px;
}

.taskCheckbox{
    flex-basis: 3%;
}

.taskText{
    font-size: 90%;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 4px;
    flex-basis: 87%;
    width: 500px;
    margin: 0 15px;
    color: rgb(52, 52, 52);
}

.taskDelete{
    flex-basis: 10%
}