<div class="logScreen">
    <h4 class="logScreenTitle">Login to your account</h4>
    <form [formGroup]="form" (ngSubmit)="createAccountClick()">
        <p class="logScreenText">Full name</p>
        <input class="logScreenInput"
                type="text" 
                formControlName= "fullname">
        <p class="logScreenText">User name</p>
        <input class="logScreenInput" 
                type="text" 
                formControlName= "username">
        <p class="logScreenText">Password</p>
        <input class="logScreenInput" 
                type="password" 
                formControlName= "password">
  
    <button class="btn singInBtn" 
            type="button"
            (click)="singInClick()">
            Sing in
    </button>
    <button class="btn singUpBtn" 
            type="submit">
            Create account
    </button> 
 </form>
</div>