$black: #000000;
$white: #FFFFFF;
$light-grey: #EEEEEE;
$project-blue: #6200EE;
$dark-blue: #3700B3;
$turquoise: #03DAC5;
$violet: #BB86FC;

.log-screen {
    width: 350px;
    height: auto;
    padding: 15px;
    margin: 90px auto 0;
    color: $dark-blue;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    box-sizing: border-box;

    &-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 100%;
        font-weight: 300;
        letter-spacing: 1px;
    }

    &-input {
        margin-top: 5px;
        margin-bottom: 15px;
        width: 100%;
        height: 35px;
        border: 1px solid $light-grey;
        border-radius: 50px;
        outline: none;
        padding: 0 15px;
        box-sizing: border-box;
    }

    &-input:hover,
    &-input:focus {
        border-color: $dark-blue;
    }

    .btn-box {
        display: flex;
        justify-content: center;

        .btn {
            padding: 5px 10px;
            margin: 10px 0;
            font-size: 60%;
            border-radius: 50px;
            outline: none;
            border: none;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            color: $dark-blue;
        }

        .sing-in-btn {
            margin-right: 30px;
        }

        .sing-in-btn:hover,
        .sing-in-btn:active,
        .sing-up-btn:hover,
        .sing-up-btn:active {
            background-color: $violet;
            color: $white;
        }
    }

    // Clear custom background-color in authorization inputs

    @-webkit-keyframes autofill {
        to {
            color: inherit;
            background: transparent;
        }
    }

    input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }
}
