// font-face{
//     font-family: 'Noto Serif', serif;
//     src: url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');
// }
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

*{
    margin: 0;
    padding: 0;

}

html,
body{
    font-family: 'Noto Serif';
    font-size: 24px;
    font-weight: 400;
    color: red;
}

.container{
    width: 900px;
    margin: 0 auto;
}