$black: #000000;
$white: #FFFFFF;
$light-grey: #EEEEEE;
$project-blue: #6200EE;
$dark-blue: #3700B3;
$turquoise: #03DAC5;
$violet: #BB86FC;
$light-violet: #e8effc;

.add-container {
    padding: 0;
    height: 150px;
    background-color: $project-blue;
    font-size: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;

    .welcome-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        background-color: $dark-blue;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px 10px 0;
        box-sizing: border-box;

        h1 {
            font-size: 100%;
            color: $white;
            font-weight: 300;
        }

        .log-out-btn {
            border: none;
            background-color: $dark-blue;
            outline: none;

            svg path:hover{
                fill: $violet;
            }
        }
    }

    .add-task-box {
        width: 650px;
        position: relative;

        .input {
            width: 100%;
            height: 35px;
            border-style: none;
            border-radius: 50px;
            transition: none;
            padding: 5px 50px 5px 10px;
            font-size: 70%;
            box-sizing: border-box;
            outline: none;
        }

        .input:hover,
        .input:focus {
            background-color: $light-violet;
        }

        .add-btn {
            outline: none;
            border-style: none;
            border-radius: 50px;
            height: 35px;
            width: 35px;
            margin-left: 20px;
            background-color: $dark-blue;

            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;

            svg:hover {
                fill: $white;
            }
        }

        .add-btn:hover {
            background-color: $violet;
        }
    }
}
