$fonts-color: #000000;
// $backGround-color-blue: rgb(79, 2, 204);
$backGround-color-blue: #E36588;
$backGround-color-hover-btn: #99EDCC;
$backGround-color-white: rgb(255, 255, 255);
$backGround-color-grew: rgb(225, 225, 255);

.addContainer{
    padding: 60px 0;
    text-align: center;
    background-color: $backGround-color-blue;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);

    &LogOutBtn{
       padding: 5px;
       font-size: 60%;
       border: none;
       background-color: $backGround-color-white;
    }
    :hover {
        background-color: $backGround-color-hover-btn;
    }
    &Element{
        font-size: 90%;
        color: $fonts-color;
        padding: 5px 10px;
        outline: none;
        text-transform: capitalize;
        
        &Input{
            width: 500px;
            height: 25px;
            border-style: none;
            transition: none;
        }

        &Select{
            border-style: none;
            border-radius: 0px;
            height: 35px;
            background-color: $backGround-color-white; 
            border-left: 1px solid $fonts-color;
        }
    
        &Select:hover{
            background-color: $backGround-color-hover-btn;
            color:$backGround-color-white;
        }
    
        &Btn{
            border-style: none;
            height: 35px;
            border-left: 1px solid $fonts-color;
        }
    
        &Btn:hover{
            background-color: $backGround-color-hover-btn;
            color: $backGround-color-white;
        }
    }
}