$font-color: #2C0173;
$violet-color: #7B37EB;
$btn-border-color: #3B029A;
$white-color: #fff;

.task{
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 110%;
    border-bottom: 1px dotted $violet-color;

    &Checkbox{
        flex-basis: 3%;
    }

    &Text{
        text-transform: capitalize;
        letter-spacing: 1px;
        word-spacing: 4px;
        color: $font-color;

        flex-basis: 87%;
        width: 500px;
        margin: 0 15px;
        word-wrap: break-word;
        text-align: justify;
    }

    .completedTask{
        text-decoration: line-through;
    }

    &Delete{
        flex-basis: 10%;
        font-size: 90%;
        border-style: none;
        border: 1px solid $btn-border-color;
        color: $font-color;
        padding: 5px;
    }

    &Delete:hover{
        color: $white-color;
        background-color: $font-color;
    }
}
